/*add font*/

/* Remove default list styling */
.horizontal-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Display list items horizontally */
.horizontal-container ul li {
    color: white;
    display: inline-block;
    margin-right: 15px; 
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 100;
 
}


.horizontal-container ul li a {
    text-decoration: none;
}




/* Style the link on hover */
.horizontal-container ul li a:hover {
        border-bottom: 1px solid black;
        padding-bottom: 3px;
        transition: border-bottom 0.2s ease;
        
}



/* Flexbox container */
.horizontal-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white; 
    padding: 2px;
    outline: 20px; 
    padding-left: 100px;
    padding-right: 100px;
   
}

.zima-title {
    color: black;
    font-family: 'NeueHaasDisplayThin', sans-serif;
    font-size: 30px;
    padding-right: 15px;
    font-weight: 100;
}


